@model IEnumerable<mvcProyecto.Models.Almacen>

@{
    ViewData["Title"] = "Almacenes";
}

<h1>Lista de almacenes</h1>

<p>
    <a asp-action="Create">Crear nuevo almacen</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.NombreAlmacen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAlmacen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>